@page
@model MascotaFeliz.App.Pages.AsignarDuenoModel
@{
}
<h1>Asignar Dueño</h1>

<table class="table">
    <tr>
    
        <th>Nombres</th>
        <th>Color</th>
        <th>Raza</th>
        <th>Especie</th>
        <th>Dueño</th>
        <th>Veterinario</th>
    </tr>
    
    
    <tr>

        <td>@Model.mascota.Nombre</td>
        <td>@Model.mascota.Color</td>
        <td>@Model.mascota.Raza</td>
        <td>@Model.mascota.Especie</td>
        
        <td>
            <label for="dueno"></label>
            <select name="Duenos" id="dueno" asp-for="mascota.Dueno.Id">
                <option value="0">Select Dueño</option>                
                @foreach (var dueno in Model.listaDuenos)
                {
                    <option value="@dueno.Id">@dueno.Nombres @dueno.Apellidos</option>                                                      
                }

            </select>
        </td>
        <td>
            <label for="veterinario"></label>
            <select name="Veterinarios" id="veterinario" asp-for="mascota.Veterinario.Id">
                <option value="0">Select Veterinario</option>                
                @foreach (var veterinario in Model.listaVeterinarios)
                {
                    <option value="@veterinario.Id">@veterinario.Nombres @veterinario.Apellidos</option>                                                      
                }

            </select>
        </td>
               

    </tr>
    
</table>