@page
@model MascotaFeliz.App.Pages.DetallesMascotasModel
@{
}

<div class="prueba">

<h1><strong>Detalles de la Mascota</strong></h1>

<div>
    Id: @Model.mascota.Id
</div>

<div>
    Nombre: @Model.mascota.Nombre
</div>
<div>
    Color: @Model.mascota.Color
</div>
<div>
    Especie: @Model.mascota.Especie
</div>
<div>
    Raza: @Model.mascota.Raza
</div>

<div>
    Nombre del dueño: @Model.mascota.Dueno.Nombres
</div>
<div>
    Nombre del veterinario: @Model.mascota.Veterinario.Nombres
</div>
</div>
<div class="prueba2">
<a asp-page="./ListaMascotas" class="btn-default">Lista de Mascotas </a>
</div>