@page
@model MascotaFeliz.App.Pages.DetallesDuenosModel
@{
}

<div class="prueba">
<h1><strong>Detalles del Dueño</strong></h1>
<div>
    Id: @Model.dueno.Id
</div>

<div>
    Nombre: @Model.dueno.Nombres
</div>
<div>
    Apellido: @Model.dueno.Apellidos
</div>
<div>
    Direccion: @Model.dueno.Direccion
</div>
<div>
    Telefono: @Model.dueno.Telefono
</div>
<div>
    Correo: @Model.dueno.Correo
</div>
</div>
<div class="prueba2">
<a asp-page="./ListaDuenos" class="btn-default">Lista de Dueños </a>
</div>
