@page
@model MascotaFeliz.App.Pages.DetallesVeterinariosModel
@{
}

<div class="prueba">
<h1>Detalles del Veterinario</h1>

<div>
    Id: @Model.veterinario.Id
</div>

<div>
    Nombre: @Model.veterinario.Nombres
</div>
<div>
    Apellido: @Model.veterinario.Apellidos
</div>
<div>
    Direccion: @Model.veterinario.Direccion
</div>
<div>
    Telefono: @Model.veterinario.Telefono
</div>
<div>
    TarjetaProfesional: @Model.veterinario.TarjetaProfesional
</div>
</div>
<div class="prueba2">
<a asp-page="./ListaVeterinarios" class="btn-default">Lista de Veterinarios </a>
</div>
